*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0b132b, #1c2541, #3a506b);
    min-height: 100vh;
    padding: 30px 0;
}

.container{
    width: 700px;
    margin: 30px auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #0b132b;
}

h2:last-of-type{
    margin-top: 60px;
}

label{
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 15px;
}

textarea{
    height: 80px;
    resize: none;
}

button{
    margin-top: 18px;
    padding: 12px;
    width: 100%;
    background-color: #1d4ed8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

button:hover{
    background-color: #2563eb;
}

/* Jarak antara form dan tabel */
table{
    width: 100%;
    margin-top: 50px; /* sebelumnya 25px */
    border-collapse: collapse;
}

table,
th,
td{
    border: 1px solid #ccc;
}

th{
    background-color: #1d4ed8;
    color: white;
}

th,
td{
    padding: 10px;
    text-align: center;
}

.edit{
    background-color: orange;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
}

.edit:hover{
    background-color: darkorange;
}

.hapus{
    background-color: red;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.hapus:hover{
    background-color: darkred;
}

.container{
    width: 700px;
    margin: 40px auto;
}

.card{
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    margin-bottom: 35px;
}